---
import "../styles/global.css";
import { siteConfig } from "../config";

interface Props {
  title: string;
  description?: string;
}

const { title, description = siteConfig.description } = Astro.props;
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/webp" href="/logo.webp" />
    <link rel="icon" type="image/png" href="/logo.png" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes, viewport-fit=cover"
    />
    <meta name="description" content={description} />
    <meta name="keywords" content={siteConfig.meta.keywords.join(",")} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
